<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name = "description" content="Find the nearest tire place from your location in Puerto Rico | Encuentra las gomeras mas cercanas a ti, si se te exploto una goma esta aplicacion te ayuda a encontrar la gomera mas cercana en Puerto Rico">    <meta name="author" content="">

    <meta name="keywords" content="geo,tire,geo-tire,tires,flat tire, nearest tire place, Puerto Rico,puerto rico, tire places, flat tires,car">
   
    <meta name="Robots" content="index">
    <title>Geo-tires</title>

    <!-- Bootstrap Core CSS -->
     <link rel="shortcut icon" href="http://www.bcaa.com/-/media/BCAA/images/icons/product/flat-tire-blue.ashx?w=46&h=46">
    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Custom Theme CSS -->
    <link href="/static/css/grayscale.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/geo_tire.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">


    
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    {% block content %}
        
    {% endblock content %}
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/../static/js/grayscale.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    <script src="/../static/js/map.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-49969090-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>

</html>



